.idea/
.vscode/
.yarn/cache
.yarn/sdks
.yarn/unplugged
.yarn/install-state.gz
prl-e2e-tests.iml
node_modules/
playwright-report/
test-results/
tests-examples
e2e/.sessions/
.pnp.cjs
.pnp.loader.mjs
package-lock.json
yarn.lock
.yarnrc.yml
.DS_Store